<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="img/icoNav.ico" />
		<title>IziFoot</title>
	</head>
	<body>
		<header id="home" class="masthead bodyBackgrounds">
			<div id="homeContainer" class="container d-flex h-100 flex-column">
				<div class="row rowBar">
					<div class="col-md-2 col p-0">
						<div class="well"><a th:href="@{/}">Accueil</a></div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Actualité</div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Organiser un tournoi</div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Paramètres</div>
					</div>
					<div class="col-md-2 col p-0">
						<div class="well">Mode Match</div>
					</div>
				</div>
				<div class="row rowsHome">
					<div class="col-md-8">
						<div class="row h-50">
							<div class="col-md-6 p-0">
								<div class="well imageBackgrounds bBallInGoalLeft">
									<p><!--1--></p>
								</div>
							</div>
							<div class="col-md-6 p-0">
								<div class="well"><!--2--></div>
							</div>
						</div>
						<div class="row h-50">
							<div class="col-md-12 p-0">
								<div class="well align-middle">
									<p style="margin: 0 auto;"><!--3--></p>
								</div>
							</div>
						</div>
					</div>
					<div id="loginContent" class="col-md-4 p-0">
						<div class="well align-middle imageBackgrounds bNeymar" id="login">
							<div id="loginZone" th:if="${userDetails == null}">
										<!--
										<div th:switch="${user.role}"> 
										<p th:case="'admin'">User is an administrator</p>
										<p th:case="#{roles.manager}">User is a manager</p>
										<p th:case="*">User is some other thing</p> 
										</div>
										-->
									<form th:action="@{/home}" method="POST" class="form-signin">
										<h3 class="form-signin-heading" th:text="Connection"></h3>
										<div id="loginError" th:if="${param.error}">
											<p>Email et/ou Mot de Passe invalide(s)</p>
										</div>
										<input type="text" id="email" name="email" th:placeholder="Email" class="form-control w-50"/>
										<input type="password" th:placeholder="Password" id="password" name="password" class="form-control w-50"/>
										<button class="btn btn-secondary btn-block w-50" name="Submit" value="Login" type="Submit"th:text="Login"></button>
									</form>
									<form th:action="@{/registration}" method="get">
										<button class="btn btn-md btn-warning btn-block w-50" type="Submit">Register</button>
									</form>
							</div>
							<div th:unless="${userDetails == null}">
									<pre class="admin-message-text text-center" th:text="${userDetails.Username}"></pre><!--
									<span class="admin-message-text text-center" th:text="${user.lastName}"></span>
									<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>-->
									<a th:href="@{/admin/home}">Admin-Zone</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row rowsHome">
					<div class="col-md-8">
						<div class="row h-50">
							<div class="col-md-6 p-0">
								<div class="well"><!--5--></div>
							</div>
							<div class="col-md-6 p-0">
								<div class="well imageBackgrounds bRunningPlayer"><!--6--></div>
							</div>
						</div>
						<div class="row h-50">
							<div class="col-md-6 p-0">
								<div class="well"><!--7--></div>
							</div>
							<div class="col-md-6 p-0">
								<div class="well"><!--8--></div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row h-50">
							<div class="col-md-6 p-0">
								<div class="well"><!--9--></div>
							</div>
							<div class="col-md-6 p-0">
								<div class="well"><!--10--></div>
							</div>
						</div>
						<div class="row h-50">
							<div class="col-md-12 p-0">
								<div class="well"><!--11--></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row rowBar">
					<div class="col-md-12 p-0">
						<div class="well text-center buttonAnchor" id="moreButton">
							A propos de nous
						</div>
					</div>
				</div>
    			<div class="flex-grow-1"></div>
			</div>
		</header>
		<section id="more" class="bodyBackgrounds">
			<div id="moreContainer" class="container h-100">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center"></div>
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toHome" class="btn btn-light buttonAnchor">Back</button>
				</div>
			</div>
		</section>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/home.js"></script>
	</body>
</html>