*.iml
sonar-project.properties
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/app/src/main/java/res/values/strings.xml
.DS_Store
/build
/captures
.externalNativeBuild
